{% extends "main.html" %} 

    {% block title %}
    Ajouter Avion
    {% endblock %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'select.css' %}">
    <link rel="stylesheet" href="{% static 'av.css' %}">
    <h1>Ajouter Avion</h1>
    <form action="/ajouter/av" method="post">
    {% csrf_token %}
    {{ form.modele.label_tag }}
    <div class="select select--multiple">
      {{ form.modele }}
    </div>

    <div class="text_input">
      {{ form.code_avion.label_tag }} <br>
      {{ form.code_avion }}
    </div>

      <div>
        {{ form.escadron.label_tag }}
        <div class="select select--multiple">
        {{ form.escadron }}
        </div>
      </div>

    <div>
    {{ form.base.label_tag }}
     <div class="select select--multiple">
     {{ form.base }}
    </div>
  </div>


    <div class="text_input">
    {{ form.date.label_tag }}
     <div id="datepicker" >{{ form.date }}</div>
    </div>



  </head>
   <body>
   
   
     <script>
       let dateControl = document.querySelector('input[type="date"]');
      dateControl.value = '2022-01-01';
      console.log(dateControl.value); // affiche "2017-06-01"
      console.log(dateControl.valueAsNumber); // affiche 1496275200000, un timestamp JavaScript (exprimé en ms)

     </script>
   
    <input type="submit" value="envoyer"/>
    </form>
    
    {% endblock %}