{% extends "main.html" %} 

    {% block title %}
    Ajouter Avion
    {% endblock %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'select.css' %}">
    <link rel="stylesheet" href="{% static 'av.css' %}">
    <h1>Ajouter Avion</h1>
    <form action="/ajouter/av" method="post">
    {% csrf_token %}
    {{ form.modele.label_tag }}
    <div class="select select--multiple">
      {{ form.modele }}
    </div>
    <div>
      {{ form.code_avion.label_tag }} <br>
      {{ form.code_avion }}
    </div>

      <div>
        {{ form.escadron.label_tag }}
        <div class="select select--multiple">
        {{ form.escadron }}
        </div>
      </div>

    <div>
    {{ form.base.label_tag }}
     <div class="select select--multiple">
     {{ form.base }}
    </div>
  </div>

  
    <div>
    {{ form.date.label_tag }}
     <div id="datepicker" >{{ form.date }}</div>
    </div>



     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

     <!-- Fengyuan Chen's Datepicker -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
   </head>
   <body>
   
   
     <script>
       $(function () {
         $("#datepicker").datepicker();
       });
     </script>
   
    <input type="submit" value="envoyer"/>
    </form>

    {% endblock %}