{% extends "main.html" %} 

    {% block title %}
    Modifier Avion
    {% endblock %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'select.css' %}">
    <link rel="stylesheet" href="{% static 'av.css' %}">
    <h1>Ajouter Avion</h1>
    <form action="/up/av/{{ID}}" method="post">
    {% csrf_token %}
    {{ form.modele.label_tag }}
    <div class="select select--multiple">
      {{ form.modele }}
    </div>

    <div class="text_input">
      {{ form.code_avion.label_tag }} <br>
      {{ form.code_avion }}
    </div>

      <div>
        {{ form.escadron.label_tag }}
        <div class="select select--multiple">
        {{ form.escadron }}
        </div>
      </div>

    <div>
    {{ form.base.label_tag }}
     <div class="select select--multiple">
     {{ form.base }}
    </div>
  </div>


    <div class="text_input">
    {{ form.date.label_tag }}
    <p id="dateid">{{date}}</p>
     <div id="datepicker">{{ form.date }}</div>
    </div>



  </head>
   <body>
   
   
     <script>
      let dateControl = document.querySelector('input[type="date"]');   /* selecteur pour la date*/
      dateControl.value = new Date(); /*Mettre le selecteur a la date actuelle*/
      console.log(dateControl.value); /*Debug*/
      console.log(dateControl.valueAsNumber);/*Debug*/
      let date = document.getElementById("dateid").textContent;/*Recupere la date de modification dans le paragraphe invisible*/
      ddateimport= new Date(date); /*cree la date popur la modification*/
      document.getElementById("datepick").value = formatDate(ddateimport); /*change la date dans le selecteur avec le bon format*/
      console.log(ddateimport);/*Debug*/

      /* Fonction pour aun 0 a la date si neccesaire */
      function padTo2Digits(num) {
  return num.toString().padStart(2, '0');
}
      /*Fonction pour changer le format de la date en  Y/M/D   */
      function formatDate(date) {
        return [
          padTo2Digits(date.getFullYear()),
          padTo2Digits(date.getMonth() + 1),
          date.getDate(),
        ].join('-');
      }
      console.log(formatDate(new Date()));

     </script>
   
    <input type="submit" value="envoyer"/>
    </form>
    
    {% endblock %}