<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BDD{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>

        <ul class="liste">

            <li class="items">
                <p class="txt-liste"><a href="/">Accueil</a></p>
            </li>
            <li class="items">
                <img src="ressources/carnet.svg" alt="icone" class="icone">
                <p class="txt-liste">Base</p>
                <ul class="sous-liste">
                    <li class="titre-sous-liste t1">Bases aériennes</li>
                    {% for base in BA %}
                        <li class="liste-items"><a href="/ba/{{base.id}}">{{base.num}}  {{base.nom}}</a></li>
                    {% endfor %}
                    <li class="liste-items"><a href="/ajouter/ba">AJOUTER</a></li>
                </ul>
            </li>
            <li class="items">
                <img src="ressources/algolia-brands.svg" alt="icone" class="icone">
                <p class="txt-liste">Escadron</p>
                <ul class="sous-liste">
                    <li class="titre-sous-liste t2">Escadron</li>
                    {% for escadre in ES %}
                        <li class="liste-items"><a href="/es/{{escadre.id}}">{{escadre.nom}}</a></li>
                    {% endfor %}

                    <li class="liste-items"><a href="/ajouter/es">AJOUTER</a></li>
                </ul>
            </li>
            <li class="items">
                <img src="ressources/backward-solid.svg" alt="icone" class="icone">
                <p class="txt-liste">Avion</p>
                <ul class="sous-liste">
                    <li class="titre-sous-liste t3">Avion</li>
                    {% for avion in AV %}
                    <li class="liste-items"><a href="/av/{{avion.id}}">{{avion.code_avion}}</a></li>
                    {% endfor %}
                    <li class="liste-items"><a href="/ajouter/av">AJOUTER</a></li>

                </ul>
            </li>
            <li class="items">
                <img src="ressources/justice.svg" alt="icone" class="icone">
                <p class="txt-liste">Modele</p>
                <ul class="sous-liste">
                    <li class="titre-sous-liste t4">Modele Avion</li>
                    {% for avm in AVM %}
                    <li class="liste-items"><a href="/avm/{{avm.id}}">{{avm.nom}}</a></li>
                    {% endfor %}
                    <li class="liste-items"><a href="/ajouter/avm">AJOUTER</a></li>
                </ul>
            </li>

        </ul>

    </nav>
    <div id="content">
        {% block content %}
        <h1> Accueil </h1>
        {% endblock %}
    </div>
</body>
</html>