{% extends "main.html" %} 
{% block title %}
Modele Avion
{% endblock %}

{% block content %}
    {% for modele in AVM %}
        {% if modele.id == ID %}
        <div class="TITRE">
            <h1>{{modele.nom}}</h1>
            <p><a href="/del/avm/{{modele.id}}" class="hover-underline-animation">Supprimer</a></p>
            <p><a href="/up/avm/{{modele.id}}" class="hover-underline-animation">EDITER</a></p>
        </div>
        <div class="show_block">
        <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Code Avion</th>
                <th>Base</th>
                <th>Escadron</th>
                <th>Date de Mise en Service</th>
              </tr>
        </thead>
        <tbody>
            {% for avion in AV %}
                {% if avion.modele == modele %}
                <tr>
                    <th><a href="/show/av/{{avion.id}}">{{avion.code_avion}}</a></th>
                    {% for base in BA %}
                        {% if avion.base == NULL %}
                        <td>∅</td>
                        {% endif %}
                        {% if avion.base == base %}
                        <td><a href="/show/ba/{{base.id}}">{{avion.modele}}</a></td>
                        {% endif %}
                    {% endfor %}
                    
                    {% for escadron in ES %}
                        {% if avion.escadron == escadron %}
                        <td><a href="/show/es/{{escadron.id}}">{{avion.escadron}}</a></td>
                        {% else %}
                        <td>∅</td>
                        {% endif %}
                    {% endfor %}

                    <td>{{avion.date_service}}</td>
                </tr>
                </tbody>
                {% endif %}
            {% endfor %}
        </table>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}